@page
@model SAMS.Pages.Students.GetStudentInfoModel
@{
}

@if (Model.Student.SName != null)
{
<table class="table">
    <thead>
        <tr>
            <th>  Student No   </th>
            <th>    Name  </th>
            <th>  Leasing No  </th>
            <th>    Room No  </th>
            <th>  Apartment No   </th>
            <th>  Dormitory No   </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> @Model.Student.Student_No </td>
                <td> @Model.Student.SName </td>
                <td> @Model.Student.Leasing_No </td>
                <td> @Model.Student.Room_No </td>
                <td>
                    @if (Model.Student.Appart_No == 0)
                    {
                        <text> - </text>
                    }
                    else
                    {
                        @Model.Student.Appart_No;
                    }
                </td>
                
                <td>
                    @if (Model.Student.Dormitory_No == 0)
                    {
                        <text> - </text>
                    }
                    else
                    {
                        @Model.Student.Dormitory_No;
                    }
                </td>
                
            </tr>
    </tbody>
</table>
}

else
{
<text> <h1 style="text-align: center">No data about this student</h1> </text>
}