@page
@model SAMS.Pages.Students.GetStudentsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>  Student NO   </th>
            <th>    Name  </th>
            <th>  Address  </th>
            <th>    Has Room  </th>
            <th>  Registration Date   </th>
            <th>  Rent   </th>
            <th>  Delete   </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
        <tr>
            <td> @item.Student_No </td>
            <td> @item.SName </td>
            <td> @item.SAddress </td>
            <td> @item.Has_Room </td>
            <td> @item.RegistrationDate </td>
            <td> <p><a asp-page="/Students/GetStudentInfo" asp-route-id="@item.Student_No">Rent</a></p></td>
            <td>
                <form method="post">
                    <input value="@item.Student_No" name="student_id" id="student_id" type="hidden" />
                    <input class="btn btn-danger" value="Delete" type="submit" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>