@page
@model SAMS.Pages.Rooms.GetVacantsRoomInRangeModel
@{

}


<table class="table">
    <thead>
        <tr>
            <th>  Place NO   </th>
            <th>    Room NO  </th>
            <th>  Rent Per Semester  </th>
            <th>    Occupied  </th>
            <th>    Assign room  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms)
        {
            <tr>
                <td> @item.Place_no </td>
                <td> @item.Room_No </td>
                <td> @item.Rent_Per_Semester </td>
                <td> @item.Occupied </td>
                <td>
                    <form method="post" action="~/Leasings/GetLeasings">
                        <input value="@item.Place_no" name="place_id" id="place_id" type="hidden" />
                        <input class="btn btn-primary" value="Assign" type="submit" />
                    </form>
                </td>
            </tr>

        }
    </tbody>
</table>



